<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>727089460603-99reg2gf45qitqbiot3ufnbl6kkriev7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727089460603-99reg2gf45qitqbiot3ufnbl6kkriev7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>727089460603-2mdo0e5tmtgvcvneo7676t1i0kjcl7o8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAY3JQDjoZGlS1hVkKZVBTw_MqlDHLXKUg</string>
	<key>GCM_SENDER_ID</key>
	<string>727089460603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>souzaleandror.com.carros</string>
	<key>PROJECT_ID</key>
	<string>carros-9781c</string>
	<key>STORAGE_BUCKET</key>
	<string>carros-9781c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727089460603:ios:7b8e2842e527824c45b9de</string>
	<key>DATABASE_URL</key>
	<string>https://carros-9781c.firebaseio.com</string>
</dict>
</plist>